name: Update ship time

on:
  schedule:
    - cron: "*/30 * * * *"

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: "3.11"
    - run: pip install requests timezonefinder pytz
    - run: python scrape.py
    - run: |
        git config user.name "bot"
        git config user.email "bot@github.com"
        git add data/status.json
        git commit -m "update ship time" || true
        git push
